:root {
  --primary_color: #0f3d3e;
  --secondary_color: #e2dcc8;
  --terciary_color: #f1f1f1;
  --terciary_color_dark_mode: #1f212b;

  --gradient: linear-gradient(350.5deg, #0f3d3e, #124a4bcc);
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Acme', sans-serif;

  background-color: var(--terciary_color);
  color: var(--terciary_color);
}

.header {
  background: var(--gradient);
  width: 100%;

  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: 4em;

  padding: 1rem;
}

.toggle {
  width: 5rem;
  height: 2rem;

  position: absolute;

  left: 2%;
  top: 5%;

  display: inline-block;

}

#check {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 1rem;
  
  background-color: var(--terciary_color);
  
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";

  height: 1.5rem;
  width: 1.5rem;
  
  left: 0.25rem;
  bottom: 0.25rem;
  
  border-radius: 50%;
  
  background-color: var(--primary_color);
  
  -webkit-transition: .4s;
  transition: .4s;
}

#check:checked + .slider {
  background-color: var(--terciary_color_dark_mode);
}

#check:focus + .slider {
  box-shadow: 0 0 1px var(--terciary_color_dark_mode);
}

#check:checked + .slider:before {
  -webkit-transform: translateX(2.9rem);
  -ms-transform: translateX(2.9rem);
  transform: translateX(2.9rem);
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-section {
  margin-top: 2rem;

  width: 100%;
}

.search-container {
  margin: 2% auto;
  padding: 1%;

  display: flex;
  justify-content: center;

}

#search {
  width: 50%;
  padding: 0.8%;
  font-size: 120%;

  border: none;
  border-radius: 1rem;
}

#search:focus {
  outline: none;
}

#search-btn {
  width: 10%;

  border: none;
  border-radius: 1rem;

  background: var(--gradient);
  color: var(--terciary_color);
}

#search-btn:hover {
  background-color: var(--primary_color);
  cursor: pointer;
}

#load-btn {
  background: var(--gradient);
  color: var(--terciary_color);
  
  border: var(--terciary_color) solid 0.2rem;
  border-radius: 1rem 0.2rem 1rem 0.2rem;
  
  padding: 1%;

  display: block;
  margin: 2% auto;

}

#load-btn:hover {
  cursor: pointer;

  transition-duration: 500ms;

  border-radius: 0.2rem 1rem 0.2rem 1rem;
}

#load-btn:active {
  transition-duration: 250ms;

  border-radius: 2rem;
}
