li {
  list-style-type: none;
}

.info-card {
  background: var(--gradient);

  width: 60%;
  height: 30rem;

  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;

  padding: 1%;
  margin: 5% auto;

  border-radius: 1rem;
}

.header_info {
  font-size: 130%;
  font-weight: bolder;

  text-align: center;

  margin: 1rem;
}

.sub-header-info {
  font-size: 100%;
  font-weight: bolder;

  text-align: center;

  margin: 1rem;
}

.img_info {
  width: 15rem;

  margin: auto;

  border-radius: 5%;
}

.info_main_img {
  width: 100%;

  background-color: var(--terciary_color);
}

.info_sub_img {
  height: 3rem;
  width: 4rem;

  position: absolute;
}

.section_info {
  width: 15rem;
  height: 20rem;

  margin: 0 auto;
}

.shiny_btn {
  background: var(--terciary_color);
  color: var(--primary_color);
  
  border: var(--terciary_color) solid 0.2rem;
  border-radius: 1rem 0.2rem 1rem 0.2rem;
  
  padding: 1%;

  display: block;
  margin: 15% auto;
}

.shiny_btn:hover {
  cursor: pointer;

  transition-duration: 500ms;

  border-radius: 0.2rem 1rem;
}

.shiny_btn:active {
  transition-duration: 250ms;

  border-radius: 2rem;
}